h1{
  color:white;
  font-weight: bolder;
  font-size: 50px;
  text-align: center;

}

*{
  padding: 0;
  margin: 0;
}

body{
  background-color: darkblue;
}

/*td{
  width: 20px;
  height: 20px;
}*/

.blank{
  background-color: black;
}

.snake{
  background-color: yellow;
}

.wall{
  background-color: red;
}

.food{
  background-color: green;
}

td{
  height:10px;
  width: 10px;
}

h2{
  color: white;
}

#funfact{
  color: violet;
}

.butt{
  /*height: 20px;*/
  /*width: 20px;*/
  /*background-color: pink;*/
}
